extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home-form
		.container.home-form-fixWight
			.row
				.col.mb-5
					.title-page.title-xam
						h2 GET IN TOUCH
						p 1600 Pennsylvania Ave NW, Washington,DC 20500,United States of America. Tel: (202) 456 -1111
			.row.form-group.mb-0.mb-sm-3
				.col-sm-6.mb-1
					input.form-control(type="text" placeholder="Your Name*")
				.col-sm-6.mb-1
					input.form-control(type="text" placeholder="Your Email*")
			.row.form-group
				.col
					textarea.form-control(cols="30" rows="10" placeholder="Your Message*")



