<!-- ////////////// FOOTER ////////////// -->
footer
	.container
		.row
			.col
				ul.list-group.fix
					li.list-group-item
						a(href="#") Facebook
					li.list-group-item
						a(href="#") Twitter
					li.list-group-item
						a(href="#") Google+
					li.list-group-item
						a(href="#") Linkedln
					li.list-group-item
						a(href="#") Behance
					li.list-group-item
						a(href="#") Dribbble
					li.list-group-item
						a(href="#") GitHub